.cart__show {
  height: 85vh;
}

.cart__show__header {
  background-color: antiquewhite;
  border-radius: 4px 4px 0 0;
  padding-top: 24px;
  display: flex;
  justify-content: space-around;
  align-items: baseline;
}

#product__list {
  border-radius: 0 0 4px 4px;
  background-color: antiquewhite;
  padding: 24px;
  height: 72vh;
  overflow-y: scroll;
}

.product__item {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.cart__show__form {
  width: 95%;
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 24px;
  #form_input {
    margin-right: 24px;
  }
}
